@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.first-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-nav .logo {
    width: 15%;
}

.first-nav .search {
    display: flex;
    flex-direction: column;
}

.search img {
    width: 20%;
}

.search-2 {
    display: flex;
    align-items: center;
}

.search-2 button {
    cursor: pointer;
}

.nav-1 {
    display: flex;
    text-align: center;
}

.web-fs-search {
    font-family: Arial;
    font-size: 12px;
}
.web-fs-search a {
    text-decoration: none;
    color: #3f8dc2;
}    

.nav-links {
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
    color: #3f8dc2;
    text-decoration: none;
    font-weight: 700;
}

.second-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f8dc2;
    margin-top: 1vh;
    height: 35px;
    padding-left: 1%;
}

.nav-links-2 {
    padding-right: 10px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 30px 10px 10px 10px;
  }
  
  .grid-container > div {
    background-color: #e3e3e3;
    padding: 100px 0;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item1 .username {
    background-color: #bbeaf9;
    padding-left: 10px;
    height: 25px;
    position: relative;
    top: -128px;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
  }

  .item1 .username h5 {
    padding-top: 3px;
    color: #3f8dc2;
  }
  
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -250px;
    top: -120px;
}

.profile img {
    top: -120px;
}

.profile figcaption {
    padding-top: 7px;
    color: #1c1c1c;
}

.profile-settings table{
    border-collapse: collapse;
    position: relative;
    left: 9px;
    top: -111px;
}

.profile-settings td {
    border: 1px solid #FFFFFF;
    background-color: #d2e6e9;
    text-align: center;
    padding: 8px 0px 8px 103px;
}

.profile-settings td:hover {
  background-color: #3f8dc2;
}

.profile-settings button {
  border-style: none;
  position: relative;
  left: -50%;
  background-color: #d2e6e9;
  font-family: Arial;
  color: #3f8dc2;
}

button:hover {
  background-color: #3f8dc2;
  color: #FFFFFF;
}

.box-sb2 {
  width: 300px;
  background: rgb(243, 243, 243);
  padding: 20px 30px 20px 144px;
  font-weight: 700;
  color: rgb(63, 141, 194);
  font-family: arial;
  position: relative;
  right: -460px;
  top: -722px;
}

.box-sb2 .shoutout {
    position: relative;
    left: -130px;
    top: -10px;;
}

.create a{
  color: red;
  text-decoration: none;
}

.profile-details {
  font-family: Arial;
  color: #1c1c1c;
  position: relative;
  right: -460px;
  top: -705px;
}

.profile-details a, .profile-details-text {
  text-decoration: none;
  color: #3f8dc2;
}

  .item2 {
    grid-row-start: 1;
/* /    grid-column-end: 2; */
    height: 0px;
  }

  .item2 .friends {
    background-color: #bbeaf9;
    padding-left: 10px;
    height: 25px;
    position: relative;
    top: -128px;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
  }

  .item2 .friends h5 {
    padding-top: 3px;
    color: #3f8dc2;
  }

  .item2 .message{
    text-align: center;
    font-family: Arial;
    color: #1c1c1c;
    position: relative;
    bottom: 90px;
  }

  .message a {
    text-decoration: none;
    color: #3f8dc2;

  }

  .item3 {
    grid-row-start: 16;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item3 .comments {
    background-color: #bbeaf9;
    padding-left: 10px;
    height: 25px;
    position: relative;
    top: -128px;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
  }

  .item3 .comments h5 {
    padding-top: 3px;
    color: #3f8dc2;
  }